h3{
    font-family: "Open Sans", sans-serif;
    font-size:15px;
    color:#444;
    font-weight:500;
}

p{
    font-size:13px;
    font-family:"Open Sans", sans-serif;
    color:#444;
}

body{
    background: #f1e3c8;
    font-family:"News Cycle";

}

@media(max-width:767px) {
	#quiz{
		margin:20px;
		margin-top:10px;
	}
}

@media(min-width:768px) {
	#quiz{
	    position:absolute;
	    left:100px;
	}
}


.bg-warning{
    background-color:#666;
    color:#f1e3c8;
    max-width:58px;

}

.possible_answer  {
    padding: .75em;
}

.possible_answer:hover {
	background: #333;
	cursor: pointer;
    font-weight: bold;
}

.correct-answer, .wrong-answer {
	cursor: pointer;
}

.wrong-answer {
	background: #be2029;	
}

.correct-answer {
    background: #12538b;
}

.selected {
}

.selected:hover, .correct-answer:hover, .wrong-answer:hover {
}

.how_you_did {
	text-align: center;
	padding: 1em;
	font-weight: bold;
	font-size: 1.25em;
	color:#12538b;
}

/*multimedia styling*/

img, .youtube {
	margin-bottom: 1em;
	min-height: 200px;
	max-height: 200px;
}

.possible_answer img {
	max-height: 24em;
}

.question img, .revealed_answer img, .selected img, .correct-answer img, .wrong-answer img {
    max-height: 24em;
    display: block;
}

.videoembed {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.videoembed iframe, .videoembed object, .videoembed embed {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}